################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MicroserviceApi/MicroserviceApi/WebApp/Service/BaseService.cs
